*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: poppins, sans-serif;
}

img{
  max-width: 100%;
  display: block;
}

button{
  font-family: inherit;
  cursor: pointer;
}